# Only install packages we need in this Lite version of the nodepack.
# If you need the full upstream LayerStyle custom nodes suite, you will need to add dependencies.
transformers>=4.43.3
pillow
opencv-contrib-python
scikit-image
blend_modes
